<div>
    <app-medicine-staff-menu></app-medicine-staff-menu>
    <!-- Info-->
    <section>
        <div class="container">
            <div class="main-body">
                <div class="row d-flex justify-content-center align-items-center h-100" >
                    <div class="col-md-8">
                        <div class="card my-4">
                            <div class="card-body">
                                <div class="row mb-0">
                                    <div class="col-md-6 mb-0">
                                        <div class="form-outline">
                                            <input type="text" class="form-control form-control-lg" />
                                            <label class="form-label">Ime</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-0">
                                        <div class="form-outline">
                                            <input type="text" class="form-control form-control-lg" />
                                            <label class="form-label">Prezime</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-outline mb-1">
                                    <input  type="date" class="form-control form-control-lg" />
                                    <label class="form-label">Datum rođenja</label>
                                </div>
                                <div class="form-outline mb-0">
                                    <input  type="text" class="form-control form-control-lg" />
                                    <label class="form-label">Šifra</label>
                                </div>
                                <div style="color: red;" id="greska"></div>
                                <div class="d-flex justify-content-end pt-3">
                                    <button type="button" class="btn btn-warning btn-lg ms-2">Izmijeni podatke</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>