<section>
    <div class="container">
        <div class="main-body">
            <div class="row d-flex justify-content-center align-items-center h-100" >
                <div class="col-md-8">
                    <div class="card my-4">
                        <div class="card-body">
                            <div class="row mb-0">
                                <div class="form-outline mb-0">
                                    <input  type="text" class="form-control form-control-lg" matInput [(ngModel)]="newBloodBank.name">
                                    <label class="form-label">Ime</label>
                                </div>
                                <div class="col-md-4 mb-0">
                                    <div class="form-outline">
                                        <input type="text" class="form-control form-control-lg" matInput [(ngModel)]="newBloodBank.address.street" />
                                        <label class="form-label">Ulica</label>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-0">
                                    <div class="form-outline">
                                        <input type="text" class="form-control form-control-lg" matInput [(ngModel)]="newBloodBank.address.streetNum"  />
                                        <label class="form-label">Broj</label>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-0">
                                    <div class="form-outline">
                                        <input type="text" class="form-control form-control-lg" matInput [(ngModel)]="newBloodBank.address.city" />
                                        <label class="form-label">Grad</label>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-0">
                                    <div class="form-outline">
                                        <input type="text" class="form-control form-control-lg" matInput [(ngModel)]="newBloodBank.address.country" />
                                        <label class="form-label">Država</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-outline mb-0">
                                <textarea class="form-control form-control-lg" matInput [(ngModel)]="newBloodBank.description"></textarea>
                                <label class="form-label">Opis</label>
                            </div>
                            <div style="color: red;" id="greska"></div>
                            <div class="d-flex justify-content-end pt-3">
                                <button type="button" class="btn btn-warning btn-lg ms-2" (click)="createBloodBank()">Potvrdi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>