<div>
    <app-medicine-staff-menu></app-medicine-staff-menu>
    <!-- Info-->
    <section>
        <div class="container">
            <div class="main-body">
                <div class="row gutters-sm my-4">
                    <div class="col-md-4 my-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <div class="mt-3">
                                        <!--ovde ide bejzik slika-->
                                        <h4>{{medicineStaff?.name}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-1">
                            <div class="card-body">
                                <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Ime</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">{{medicineStaff?.name}}</div>
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Prezime</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">{{medicineStaff?.surname}}</div>
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Pol</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">{{medicineStaff?.gender}}</div>
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Datum rođenja</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">{{medicineStaff?.username}}</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-outline-dark" routerLink="/editMedicineStaffProfile">Izmijeni profil</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>