
<div>
    <app-homepage-menu></app-homepage-menu>
    <!-- Header-->
        <header class="masthead text-center text-black">
            <div class="masthead-content">
                <div class="container px-5 mb-1">
                    <h1 class="masthead-heading mb-1">Banka krvi</h1>
                    <div class="row">
                        <div class="col-sm-12 mb-2">
                            <a  class="btn btn-outline-dark rounded-pill" target="__blank">Dodaj termin za davanje krvi</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <header>
        <div class="p-5 text-center bg-image" style="background-image: url('components/Resources/homepage.jpg'); height: 400px;">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img v-bind:src="sportObject.logo"  width="200" height="200">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div  class="col">
                            <h1 class="mb-3 text-white">ime</h1>
                            <h4 class="mb-3 text-white">opis</h4>
                            <h6 class="mb-3 text-white">Ocjena:
                                <svg xmlns="http://www.w3.org/2000/svg" v-for="po in sportObject.averageScore" width="25" height="25" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                            </h6>
                            <div class="btn btn-warning active mt-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                </svg> Karadjordjeva LD1 , Teslic
                            </div>
                        </div>
                        <div class="col d-flex flex-column align-items-center" id="map-create" style="height: 230px; width: 500px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

        <!-- Carousel wrapper -->
            <section id="carousel">
                <div
                    id="carouselMultiItemExample"
                    class="carousel slide carousel-dark text-center"
                    data-mdb-ride="carousel">
                    <!-- Inner -->
                    <div class="carousel-inner py-4">
                        <!-- Single item -->
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    <div v-for="service in filteredServices" class="col-lg-4">
                                        <div class="card">
                                            <img v-bind:src="service.image" class="mx-auto" width="200"/>
                                            <div class="card-body">
                                                <h4 class="card-title">Slobodan termin za davanje krvi tj rezervisanje</h4>
                                                <h6>medicinsko osoblje</h6>
                                                <h6>Trener<p>trener<p></h6>
                                                <h6>Cijena<p>cijena<p></h6>
                                                <h6>Trajanje:<p>trajanje</p></h6>
                                                <h6>datum vrijeme i trajanje</h6>
                                                <button  type="button" class="btn btn-outline-dark">Izmijeni</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <!-- tabela -->
            <section id="scroll">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-1">Medcicinsko osoblje</h1>
                    <div class="row gx-5 align-items-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Korisničko ime</th>
                                    <th>Komentar</th>
                                    <th>Ocjena</th>
                                    <th>Odobren</th>
                                </tr>
                            </thead>
                            <tbody v-for="review in reviews">
                                <tr>
                                    <td>ime</td>
                                    <td>komentar</td>
                                    <td>cijena</td>
                                    <td v-if="review.approved">Da</td>
                                    <td v-else>Ne</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section>
                Dodati da vidi kolicine krvi koje se cuvaju u centru razvrstene po grupama
            </section>
</div>
