<div>
    <!-- Info-->
    <section>
        <div class="container">
            <div class="main-body">
                <div class="row gutters-sm my-4">
                    <div class="col-md-4 my-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <div class="mt-3">
                                        <h4>ime</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-1">
                            <div class="card-body">
                                <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Ime</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <label type="text" [contentEditable]="false" [textContent]="donor.name"></label>
                                        </div>
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Prezime</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <label type="text" [contentEditable]="false" [textContent]="donor.surname"></label>
                                        </div>
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Pol</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <label type="text" [contentEditable]="false" [textContent]="gender"></label>
                                        </div>
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Korisničko ime</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <label type="text" [contentEditable]="false" [textContent]="donor.username"></label>
                                        </div>
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Lozinka</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input [type]="passwordType" [contentEditable]="false" [value]="donor.password" disabled="false">
                                            <button class="btn btn-outline-dark btn-sm mx-2" (click)="togglePasswordVisibility()" [textContent] = "passwordButtonText"></button>
                                        </div>
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">JMBG</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <label type="text" [contentEditable]="false" [textContent]="donor.jmbg"></label>
                                        </div>
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <label type="text" [contentEditable]="false" [textContent]="donor.mail"></label>
                                        </div>
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Telefon</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <label type="text" [contentEditable]="false" [textContent]="donor.phoneNumber"></label>
                                        </div>
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Adresa</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <label type="text" [contentEditable]="false" [textContent]="donor.address.street + ', '
                                                                                                     + donor.address.streetNum + ', '
                                                                                                     + donor.address.city + ', '
                                                                                                     + donor.address.country"></label>
                                        </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Poeni</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <label type="text" [contentEditable]="false" [textContent]="donor.penaltyPoints"></label>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Kategorija</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <label type="text" [contentEditable]="false" [textContent]="donor.category"></label>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-outline-dark" routerLink="editBloodDonorProfile">Izmeni profil</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
