<div class="container mt-2 ml-5" >
    <div class="my-2">
            
        <label>Nova sifra:</label>
        <input style="background-color:#66B2FF" type="password" matInput [(ngModel)]="newPassword">

    </div>
    <div class="my-2">
            
        <label>Potvrdi sifru:</label>
        <input style="background-color:#66B2FF" type="password" matInput [(ngModel)]="confirmPassword">

    </div>

    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="button" class="btn btn-primary btn-lg" (click)="changePassword()">Potvrdi</button>
      </div>
</div>