<div>
    <section>
        <div class="container">
            <div class="main-body">
                <div class="row d-flex justify-content-center align-items-center h-100" >
                    <div class="col-md-8">
                        <div class="card my-4">
                            <div class="card-body">
                                <div class="row mb-0">
                                    <div class="form-outline mb-0">
                                        <input type="date" class="form-control form-control-lg" min="{{minDate | date:'yyyy-MM-dd'}}" [(ngModel)]="selectedDate"/>
                                        <label class="form-label">Datum početka termina</label>
                                    </div>
                                </div>
                                <div style="color: red;" id="greska">{{dateError}}</div>
                                <div class="row mb-0">
                                    <div class="col-md-2 mb-0">
                                        <div class="form-outline">
                                            <input type="number" class="form-control form-control-lg" [min]="0" [max]="23" [(ngModel)]="hours" />
                                            <label class="form-label">Sati</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-0">
                                        <div class="form-outline">
                                            <input type="number" class="form-control form-control-lg" [min]="0" [max]="59" [(ngModel)]="minutes" />
                                            <label class="form-label">Minute</label>
                                        </div>
                                    </div>
                                </div>
                                <div style="color: red;" id="greska">{{timeError}}</div>
                                <div style="color: red;" id="greska">{{error}}</div>
                                <div class="d-flex justify-content-end pt-3">
                                    <button type="button" class="btn btn-warning btn-lg ms-2" (click)="searchAppointments()">Pretraži termine</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!survey">
                        <h2 style="color: red">Niste ispunili anketu</h2>
                    </div>
                    <div *ngIf="survey">
                        <h2 style="color: green">Ispunili ste anketu</h2>
                    </div>
                    <div>
                        <h2 *ngIf="appointments.length">Slobodni termini</h2>
                        <table class="table" *ngIf="appointments.length" matSort (matSortChange)="sortData($event)">
                            <thead>
                                <tr>
                                    <th>Naziv banke</th>
                                    <th>Mesto</th>
                                    <th mat-sort-header="grade">Ocena</th>
                                    <th>Datum početka</th>
                                    <th>Trajanje</th>
                                    <th>Akcija</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let app of appointments">
                                    <tr>
                                        <td>{{app.bloodBank.name}}</td>
                                        <td>{{app.bloodBank.address.city}}</td>
                                        <td>{{app.bloodBank.averageGrade}}</td>
                                        <td>{{app.startDateTime | date : 'dd.MM.yyyy. HH:mm'}}</td>
                                        <td>{{app.duration}}</td>
                                        <td *ngIf="survey"><button type="button" class="btn btn-warning" (click)="scheduleAppointment(app.id)">Zakaži</button></td>
                                        <td *ngIf="!survey"><button type="button" class="btn btn-warning" routerLink="../donorSurvey">Popuni anketu</button></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
