    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom text-bg-dark">
        <div class="container px-5">
            <a class="navbar-brand text-warning" routerLink="/home">
                <i class="bi bi-heart-pulse"></i>
                Bankica krvi
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><button class="btn text-white" routerLink="scheduler">Pregledi</button></li>
                    <li class="nav-item"><button class="btn text-white" [routerLink]="['myBloodBank', '1']">Banka krvi</button></li>
                    <li class="nav-item"><button class="btn text-white" [routerLink]="['navigating']">Pracenje posiljke</button></li>
                    <li class="nav-item"><button class="btn text-white" [routerLink]="['medicineStaffProfile', '2']">Moj profil</button></li>
                    <li class="nav-item"><button class="btn text-white" (click)="logout()">Odjavite se</button></li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>